@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Poller+One|Pacifico&display=swap');
.clearfix::after{
  display: block;
  height: 1px;
  content: '';
  clear: both;
  visibility: hidden;
}
html,
body{
  margin: 0;
  padding: 0;
  background-color: #f4f5f5;
}
.secret{
  display: none !important;
}
/* ======================navbar========================================== */
.nav-wrapper{
  width: 1200px;
  margin: 0 auto;
}
nav{
  display: block;
  width: 100%;
  font-family: 'Poller One', serif;
  font-size: 16px;
  border-bottom: 1px solid #bad6db;
  box-shadow: 0px 5px 5px grey;
  background-color: #f4f5f5;
  transition: all .5s linear;
  z-index: 999;
}
.hamburger{
  width: 50%;
  float: right;
  cursor: pointer;
}
.close{
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.close img{
  display: block;
  width: 32px;
  height: 32px;
}
#hamburger_icon{
  display: block;
  float: right;
  padding: 5px;
}
.logo{
  transition: all .2s linear;
  display: block;
  margin: 0 auto;
}
.logo img{
  transition: all .2s linear;
  margin: 0 40%;
  width: 220px;
}
nav ul{
  list-style: none;
  padding: 0;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 45px;
  position: relative;
  z-index: 1000;
}
nav ul li{
  width: 17%;
  float: left;
  text-align: center;
  margin: 0 15px;
  padding-top: 10px;
  color: #051f34;
}
nav ul li a{
  display: block;
  float: none;
  padding-top: 5px;
  text-decoration: none;
  color: #051f34;
}
/* ======================starpage========================================== */
.start-images div{
  display: block;
  float: left;
  width: 49%;
  height: 450px;
  margin: 5px;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px lightgrey;
}
.start-images h2{
  display: block;
  text-align: center;
  font-family: 'Poller One', sans-serif;
  color: #051f34;
  font-size: 32px;
  clear: both;
}
.start-images div img{
  display: block;
  float: inherit;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.parallax{
  position: relative;
  height: 600px;
  z-index: 1;
  background-image:  url('../../../pebbles/1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
   -webkit-background-size: 100%;
   -o-background-size: 100%;
   -moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parallax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 99;
}
.menu-btn{
  position: absolute;
  top: 30%;
  left: 45%;
  text-decoration: none;
  text-align: center;
  color: #f4f5f5;
  background-color: #051f34;
  width: 100px;
  padding: 10px 35px;
  margin: 150px auto;
  font-family: 'Poller One', serif;
  z-index: 999;
}
.menu-btn:hover{
  font-weight: bolder;
}
.parallax h1{
  color: #f4f5f5;
  text-align: center;
  font-size: 150px;
}
/* ======================menu========================================== */
h1{
  font-family: 'Poller One', serif;
  color: #051f34;
  font-size: 100px;
  text-align: center;
  margin: 0px;
}
.menu{
  display: block;
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.first_img{
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 200px;
  transform: rotate(-28deg);
}
.second_img{
  position: absolute;
  bottom: 550px;
  right: 0;
  width: 200px;
}
.third_img{
  position: absolute;
  bottom: 1000px;
  right: 0;
  width: 200px;
  transform: rotate(-28deg);
}
.menu ul{
  color: #f4f5f5;
  list-style: none;
  padding: 0;
  font-family: 'Pacifico', cursive;
  width: 100%;
}
.menu ul li{
  display: block;
  text-align: left;
  margin: 10px;
  width: 100%;
}
.menu ul li a{
  text-decoration: none;
  padding: 0 15px;
  line-height: 2;
  font-size: 26px;
  color: #051f34 !important;
}
.sub_sub_list{
   font-family: 'Dancing Script', cursive !important;
   padding-left: 25px !important;
   color: #051f34 !important;
   font-size: 28px !important;
   width: 100%;
 }
.sub_sub_list small{
   display: block;
   font-size: 20px !important;
   padding-left: 25px !important;
   color: #051f34;
   width: 70%;
 }
.sub_list li{
  display: block;
  width: 100%;
}
.ul_sub_ul li{
  color: #f4f5f5 !important;
  display: block;
  padding: 0 15px;
}
.menu ul div{
  display: none;
}
.active{
  display: block;
}

/* ======================Location========================================== */
.location{
  text-align: center;
  font-family: 'Poller One', serif;
}
.location a{
  display: block;
  margin: 10px;
  text-decoration: none;
  color: #027495;
}
.location h2{
  font-size: 32px;
  color: #051f34;
}
.location h3{
  color: #051f34;
}
.location p{
  color: #051f34;
}
.slider_container{
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.slider_container button{
  border: 0;
  background-color: transparent;
  height: 100px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  color: #f4f5f5;
  font-size: 32px;
}
.slider_container button:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.slider_container img{
  display: block;
  margin-top: -200px;
  width: 100%;
}
.previous{
    position: absolute;
    top: 150px;
    left: 0;
}
.next{
  position: absolute;
  top: 150px;
  right: 0;
}
.mapouter{
  margin: 0 auto;
}
/* ======================Contact========================================== */
.contact{
  text-align: center;
  font-family: 'Poller One', serif;
  margin-bottom: 30px;
}
.contact h2{
  font-size: 48px;
  color: #051f34;
}
.contact p {
  font-size: 14px !important;
  margin: 30px auto;
  color: #051f34;
}
.contact button{
  text-decoration: none;
  text-align: center;
  color: #f4f5f5;
  background-color: #051f34;
  width: 100px;
  padding: 10px 35px;
  margin: 150px auto;
  font-family: 'Poller One', serif;

  border: 0;
  margin: 15px auto !important;
  cursor: pointer;
}
.contact input{
  display: block;
  width: 40%;
  height: 32px;
  margin: 10px auto;
  padding: 5px;
}
/* ======================news========================================== */
.news-cover{
  display: block;
  width: 100%;
  box-shadow: 0 5px 5px silver;
}
.news_wrapper{
  background-color: #bad6db;
  padding-bottom: 15px;
}
#newsFeedMain{
  display: block;
  width: 1200px;
  margin: 15px auto;
  text-align: center;
}
.card{
  display: block;
  width: 50%;
  outline: 1px solid silver;
  background-color: #f4f5f5;
  text-align: center;
}
.card img{
  width: 100%;
  box-shadow: 0px 5px 5px silver;
}
.card p{
  font-family: 'Poller One', sans-serif;
  color: #051f34;
  margin-bottom: 10px;
  font-size: 20px;
}
#newsFeedMain div:nth-child(odd){
  margin-bottom: 50px !important;
  margin-left: 150px;
  float: left !important;
}
#newsFeedMain div:nth-child(even){
  float: right;
  margin-right: 150px;
}
/* ======================footer========================================== */
footer{
  display: block;
  background-color: #051f34;
}
footer a{
  display: block;
  float: left;
  width: 30px;
  margin: 5px;
}
footer a img{
  width: 100%;
}
