@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Poller+One|Pacifico&display=swap');
.clearfix::after{
  display: block;
  height: 1px;
  content: '';
  clear: both;
  visibility: hidden;
}
html,
body{
  margin: 0;
  padding: 0;
  background-color: #f4f5f5;
}

/* ======================navbar========================================== */
.nav-wrapper{
  width: 1200px;
  margin: 0 auto;
}
nav{
  display: block;
  width: 100%;
  font-family: 'Poller One', serif;
  font-size: 16px;
  border-bottom: 1px solid #bad6db;
  box-shadow: 0px 5px 5px grey;
  background-color: #f4f5f5;
  transition: all .5s linear;
  z-index: 999;
}
.logo{
  transition: all .2s linear;
  display: block;
  margin: 0 auto;
}
.logo img{
  transition: all .2s linear;
  margin: 0 40%;
  width: 220px;
}
nav ul{
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 45px;
}
nav ul li{
  width: 17%;
  float: left;
  text-align: center;
  margin: 0 25px;
  color: #051f34;
}
nav ul li a{
  display: block;
  float: none;
  text-decoration: none;
  color: #051f34;
}
.strech{
  content: '';
  display: block;
  height: 100px;
  clear: both;
}
/* ======================starpage========================================== */
.start-images div{
  display: block;
  float: left;
  width: 49%;
  height: 450px;
  margin: 5px;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px lightgrey;
}
.start-images h2{
  display: block;
  text-align: center;
  font-family: 'Poller One', sans-serif;
  color: #051f34;
  font-size: 32px;
}
/* .lazyload{
  opacity: 0 !important;
} */
.start-images div img{
  display: block;
  float: inherit;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.parallax{
  background-image:  url('../../../pebbles/3.jpg');
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
}
.parallax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 99;
}
.menu-btn{
  position: absolute;
  top: 30%;
  left: 45%;
  text-decoration: none;
  text-align: center;
  color: #f4f5f5;
  background-color: #051f34;
  width: 100px;
  padding: 10px 35px;
  margin: 150px auto;
  font-family: 'Poller One', serif;
  z-index: 999;
}
.menu-btn:hover{
  font-weight: bolder;
}
.parallax h1{
  color: #f4f5f5;
  text-align: center;
  font-size: 150px;
}
/* ======================footer========================================== */
footer{
  display: block;
  background-color: #051f34;
}
footer a{
  display: block;
  float: left;
  width: 30px;
  margin: 5px;
}
footer a img{
  width: 100%;
}
