@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');
html,
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Blinker', sans-serif;
}
.clearfix::after{
  display: block;
  clear: both;
  height: 1px;
  visibility: hidden;
  content: '';
}
nav ul{
  list-style: none;
  padding: 0;
}
nav ul li{
  display: block;
  float: left;
  width: 20%;
}
nav ul li a{
  text-decoration: none;
  color: #051f34;
}
.middle{
  width: 1200px;
  margin: 0 auto;
}
table{
  width: 100%;
  margin-bottom: 50px;
}
.secret{
  display: none;
}
.admin_image{
  display: block;
  margin: 0 auto;
  width: 300px;
}
/* ==================================updateproduct===================================================== */
.form-controll label{
  display: block;
  margin: 10px auto;
}
.form-controll input{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 25px;
  text-align: center;
}
.form-controll small{
  color: red;
}
form input[name="button"]{
  display: block;
  margin: 25px auto !important;
}
