body{
  margin: 0;
  padding: 0;
  background-color: #f4f5f5;
}
.clearfix::after{
  content: '';
  height: 1px;
  display: block;
  clear: both;
}
/* ----------------------------navbar-------------------------------------- */
.nav-wrapper{
  width: 1200px;
  margin: 0 auto;
  position: fixed;
  left: 150px;
  top: 0;
  z-index: 999;
}
nav{
  display: block;
  width: 100%;
  font-family: 'Noto Serif', serif;
  border-bottom: 1px solid #bad6db;
  height: 266px;
}
.background{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: url('../../pebbles/8.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(2px);
  width: 100%;
  height: 266px;
}
.logo{
  display: block;
  margin: 0 auto;
}
.logo img{
  display: block;
  margin: 0 auto;
  width: 220px;
}
nav ul{
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 45px;
}
nav ul li{
  width: 25%;
  float: left;
  text-align: center;
  margin: 0 25px;
  color: #051f34;
}
nav ul li a{
  display: block;
  float: none;
  text-decoration: none;
  color: #051f34;
}
/* ----------------------------startpage-------------------------------------- */
.start-images{
  width:
}
.start-images div{
  display: block;
  float: left;
  width: 49%;
  height: 400px;
  margin: 5px;
  border: 1px solid lightgrey;
}
.start-images div img{
  display: block;
  float: inherit;
  width: 100%;
  height: 100%;
}
.parallax{
  background-image: url('../../pebbles/3.jpg');
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.menu-btn{
  display: block;
  float: none;
  text-decoration: none;
  text-align: center;
  color: #f4f5f5;
  background-color: #051f34;
  width: 100px;
  padding: 10px 35px;
  margin: 150px auto;
  font-family: 'Noto Serif', serif;
}
.menu-btn:hover{
  font-weight: bolder;
}
.parallax h1{
  color: #f4f5f5;
  text-align: center;
  font-size: 150px;
}
/* ----------------------------footer-------------------------------------- */
footer{
  display: block;
  background-color: #051f34;
}
footer a{
  display: block;
  float: left;
  width: 30px;
  margin: 5px;
}
footer a img{
  width: 100%;
}
